html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    margin-right: auto;
    margin-left: auto;
    min-height: 98.4vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.front {
    margin: 0;
}

section {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.home {
    padding-top: 40px;
}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1.5px 7.5px rgba(0, 0, 0, 0.2);
}

.list li a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 18px;
}

.list li a:hover {
    background-color: #dedede;
}

img {
    border-radius: 50%;
    object-fit: cover;
    height: 350px;
    width: 350px; 
}

.imgHome {
    border-radius: 50%;
    object-fit: cover;
    height: auto;
    width: 70%; 
}

.imgBorder {
    margin: auto;
    padding-bottom: 40px;
    padding-left: 50px;
}


footer {
    border-top: 1px solid gray;
    text-align: center;
    font-size: .9em;
    margin-top: auto;
    padding-top: 4.5px;
    /* background-color: #f0f0f0; */
}


/* header stuff */

.homeHeader {
    top: 0;
    background-color: #f0f0f0;
    text-align: left;
    color: black;
    min-height: 100vh;
    display: flex;
}

.h1Home {
    font-size: calc(0.5em + 2vw);
    padding-bottom: .67em;
    border-bottom: 1px solid;
    line-height: 1.3;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
    display: block;
}

.intro {
    color: black;
    font-size: 20px;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagesBox {
    top: 0;
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-left: 30px;
    position: fixed;
    background-size: 0%;
    background-color: #f0f0f0;
    height: 60px;
    box-shadow: 0px 1.5px 7.5px rgba(0, 0, 0, 0.2);
}
.pages {
    border-radius: 28px;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    font-size: 18px;
    padding: 16px 31px;
    text-decoration: none;
    margin: 1.69em auto;
    margin-right: 10px;
    width: 100%;
    box-shadow: 3px 5px 0 rgba(0,0,0,0.19);
}

.pages:hover {
    background-color: white;
}


.clickButton {
    border-radius: 28px;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    font-size: 18px;
    padding: 16px 31px;
    text-decoration: none;
    margin: 1.69em auto;
    box-shadow: 3px 5px 0 rgba(0,0,0,0.19);
}

.clickButton:hover {
    background-color: white;
}

.clickButton:active {
    position: relative;
    top: 1px;
}

.blurb {
    box-shadow: 0 0px 1px 0 rgb(0 0 0 / 40%);
    width: 100%;
}