<!DOCTYPE HTML>
<head id="head.html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<html lang="en">
    <body>
        <p>&copy; Built by Olivia Chan: updated January 4, 2025</p>
        <div class="footer-icon">
            <a class="icon" href="mailto:ochan32@vt.edu" style="color: black; margin-top: 5px;">
                <i class="fa-solid fa-envelope fa-lg" style="font-size: 32px;"></i>
            </a>
            <a class="icon" href="https://www.linkedin.com/in/olivia-chan-146657224/" target="_blank" style="color: black;">
                <i class="fa-brands fa-linkedin" style="font-size: 30px;"></i>
            </a>
        </div>
    </body>
</html>
