<!DOCTYPE HTML>
<html lang="en">
<body>
    <!-- <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="prof_work.html">Professional Work</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="about_me.html">About Me</a></li>
        <li><a href="contact_info.html">Contact</a></li>
    </ul> -->
    <div class="pagesBox">
        <a class="pages" href="index.html">Home</a>
        <a class="pages" href="prof_work.html">Professional Work</a>
        <!-- <a class="pages" href="resume.html">Resume</a> -->
        <a class="pages" href="about_me.html">About Me</a>
        <a class="pages" href="contact_info.html">Contact</a>
    </div>
</body>
</html>
