<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<script>
    const hamburger = document.querySelector('.hamburger');
    const menu = document.querySelector('.list ul');

    hamburger.addEventListener('click', () => {
        menu.classList.toggle('active');
    });
    menu.addEventListener('click', () => {
        menu.classList.toggle('active');
    });
</script>
<body>
<header class="list-header">
    <div class="header-container">
        <div class="hamburger" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <nav class="list">
        <ul>
            <li><a href="/#home" onclick="toggleMenu()">Home</a></li>
            <li><a href="/#about-me" onclick="toggleMenu()">About Me</a></li>
            <li><a href="/#course-&-skills" onclick="toggleMenu()">Courses & Skills</a></li>
            <li><a href="../projects.html" onclick="toggleMenu()">Projects</a></li>
            <li><a href="../resume/resume.pdf" target="_blank" title="Read PDF" onclick="toggleMenu()">Resume</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
