* {
    box-sizing: border-box;
    background-color: #23252C;
}

body {
    margin: 0px;
    font-family: Inter, sans-serif;
}

nav {
    display: block;
    width: 417px;
    height: 860px;
    background-color: #1A1B21;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.info-photo {
    width: 100%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.info-name {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    background-color: #1A1B21;
}


.info-major {
    color: #F3BF99;
    text-align: center;
    font-size: 13px;
    background-color: #1A1B21;
    line-height: 0.5;
}


.info-email-address {
    color: #F5F5F5;
    text-align: center;
    font-size: 11px;
    background-color: #1A1B21;
    line-height: 0.5;
}

.info-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    background-color: #1A1B21;  
    font-weight: 500;
}

.info-email {
    background-color: #D1D5DB;
    color: black;
    width: 125px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 42px;
    text-align: center;
}

.info-link{
    background-color: #5093E2;
    color: white;
    width: 125px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 35px;
    text-align: center;
}

.main-about {
    display: block;
    width: 417px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #FFFFFF;
    padding-left: 55px;
    font-size: 18px;
    background-color: #1A1B21;
    padding-top: 5px;
}

.stuff {
    color: #FFFFFF;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 12px;
    background-color: #1A1B21;
}

.footer {
    width: 100%;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #1A1B21;
    font-size: 10px;
    padding-top: 10%;
    color: rgb(195, 195, 195);
}